<div class="card" style="margin-bottom: 20px;">
  <img class="card-img-top" height="200" [src]="currentEvent.image_url" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{currentEvent.title}}</h5>

    <i *ngIf="isPriority == false" (click)="setPriority()" class="far fa-check-square fa-2x icon-red"></i>
    <i *ngIf="isPriority == true" (click)="setPriority()" class="fas fa-check-square fa-2x icon-green"></i>

    <p class="card-text"><small class="text-muted">{{currentEvent.dateStart}}</small></p>
  </div>
</div>